<RumblWeb.Layouts.app flash={@flash} current_scope={@current_scope}>
  <h1>Login</h1>

  <div class="card bg-base-100 w-96 shadow-sm p-4">
    <.form
      :let={form}
      for={@form_data.source}
      action={~p"/sessions"}
    >
      <.input field={form[:username]} placeholder="Your username here" label="Username" />
      <.input field={form[:password]} placeholder="Your password here" label="Password" />
      <input type="Submit" value="Create user" class="btn btn-primary" />
    </.form>
  </div>
</RumblWeb.Layouts.app>
