<RumblWeb.Layouts.app flash={@flash}>
  <section class="hero bg-base-200 min-h-(--content-height)">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1>{gettext("Welcome to %{name}!", name: "Rumbl.io")}</h1>
        <p>Rumbl out loud.</p>
      </div>
    </div>
  </section>
</RumblWeb.Layouts.app>
